
<div class="home-container">
   <div class="img">
<img src="./assets/fot.png" alt="">
   </div>
<br>
  <div class="home-content">
    <h1>Bem-vindo ao meu Portfólio</h1>
    <p>Aqui você encontrará uma seleção das minhas melhores fotos.</p>
    <p-button label="Ver Portfólio" routerLink="/portfolio" [style]="{ 'background-color': '#f59e0b', 'border-color': '#f59e0b', 'color': '#ffffff' }"></p-button>
  </div>
</div>
<div class="floating-whatsapp">
  <a href="https://wa.me/+5561984264979" target="_blank" class="whatsapp-button">
    <i class="pi pi-whatsapp"></i>
  </a>
</div>
