<div class="projeto-container">
  <div class="projeto-texto">
    <h2><a href="https://seulink.com" class="projeto-link">COORPORATIVO</a></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam nobis odio illum praesentium impedit. Delectus, doloribus, perferendis libero eveniet, dolorum tenetur sit voluptate mollitia maxime fugit sed facilis dolor quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusamus eos eum itaque et nobis quae omnis quis nostrum, blanditiis quam, ab delectus officia sint tempore distinctio voluptate doloremque? Inventore.</p>
  </div>
  <div class="projeto-imagem">
    <img src="./assets/foto12.png" alt="Projeto Imagem" />
  </div>
</div>

<div class="button">
  <p-button icon="pi pi-plus" severity="orange-500"[rounded]="true" [text]="true" [raised]="true" label="Adicionar" styleClass="custom-button" />
</div>
