<!-- app.component.html -->
<div class="container">
  <div class="header">
    <h1>Seu projeto é a nossa paixão.<br>Vamos transformá-lo em realidade juntos!</h1>
  </div>

  <div class="content">
    <div class="text-section">
      <p>
        Transformar um projeto em realidade é uma jornada que envolve dedicação, criatividade e um profundo compromisso com o sucesso. No centro de tudo está a paixão que nos move. É essa paixão que nos faz enxergar além do óbvio,
         que nos leva a enfrentar desafios com determinação e que nos inspira a criar soluções inovadoras.
      </p>
    </div>

    <div class="image-section">
      <img src="./assets/foto7.png" alt="Imagem 1" class="image-left">
      <img src="./assets/foto8.png" alt="Imagem 2" class="image-right">
    </div>
  </div>
</div>
